<head>
    <meta charset="utf-8">
    <title>My SSG Site</title>
    <meta name="description" content="This is a site created with my static site generator.">
    <meta name="author" content="Thomas Custer">
    <link rel="stylesheet" href="{{site.assets.[assets/css/styles.css].path}}">
</head>