body {
    margin: 0;
    background-color: #e9e3d8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E3138;
}

.nav .logo a {
    display: flex;
}

.nav .logo svg {
    display: flex;
    height: 50px;
    stroke: white;
}

#logoipsum path {
    fill: white;
}

.nav .links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav .links li {
    display: flex;
    list-style-type: none;
}

.nav .links a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.nav .links a:hover {
    color: #E5C7A4;
}

.nav .links a.active {
    color: #E5C7A4;
    border-bottom: 4px solid #E5C7A4;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E8EBF7;
}

.main {
    width: 80%;
    margin: auto;
    background-color: #e9e3d8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
}

.post-list .list-item {
    color: white;
    background-color: #2E3138;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
    margin: 8px;
    padding: 8px;
}
