<!DOCTYPE html>
<html lang="en">
    {{> head}}
    <body>
        {{> nav activeLink="About"}}
        <header>
            <div>
                <h1>Thomas Custer</h1>
                <h2>Developer</h2>
            </div>
        </header>
        <main>
            <h1>Here's my projects</h1>
        </main>
        <footer>
            <p>Copyright Thomas Custer</p>
            <p>Created with SSG</p>
        </footer>
    </body>
</html>