<!DOCTYPE html>
<html lang="en">
    <head>
        {{!-- head should be a partial or template --}}
        <meta charset="utf-8">
        <title>My SSG</title>
        <meta name="description" content="This is a static site generator">
        <meta name="author" content="Thomas Custer">
    </head>
    <body>
        {{> nav activeLink="Home"}}
        <header>
            <div>
                <h1>Thomas Custer</h1>
                <h2>Developer</h2>
            </div>
        </header>
        <main>
            <section>
                <header>
                    <h3>About</h3>
                </header>
            </section>
            <section>
                <header>
                    <h3>Projects</h3>
                </header>
            </section>
            <section>
                <h3>Resume</h3>
            </section>
            <section>
                <h3>Contact</h3>
            </section>
        </main>
        <footer>
            <p>Copyright Thomas Custer</p>
            <p>Created with SSG</p>
        </footer>
    </body>
</html>