<!DOCTYPE html>
<html lang="en">
    {{> head}}
    <body>
        {{> nav activeLink="Home"}}
        <header class="header">
            <div>
                <h1>Thom Custer</h1>
                <h2>Developer</h2>
            </div>
        </header>
        <main class="main">
            {{#if (eq 1 1)}}
                <h1 style="color:green"></h1>
            {{else}}
                <h2 style="color:red">TALd</h2>
            {{/if}}
            <section>
                <header>
                    <h3>Posts</h3>
                </header>
                <ul class="post-list">
                    {{#each site.content}}
                        <li class="list-item">
                            <h4>{{this.title}}</h4>
                            <p>{{this.description}}</p>
                        </li>
                    {{/each}}
                </ul>
            </section>
            <section>
                <header>
                    <h3>Projects</h3>
                </header>
            </section>
            <section>
                <h3>Resume</h3>
            </section>
            <section>
                <h3>Contact</h3>
            </section>
        </main>
        <footer class="footer">
            <p>Copyright Thomas Custer</p>
            <p>Created with SSG</p>
        </footer>
    </body>
</html>